<!DOCTYPE html>
<html>
  <head>
    <title>BooksApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "layouts/header" %>
    <div>
      <% [[:success, :success], [:error, :danger], [:alert, :warning], [:notice, :info]]. each do |level, color| %>
        <%= flash_message(flash[level], color) if flash[level] %>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
